// 颜色
$accentColor = #3178c6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgewarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarwidth = 20rem
$contentwidth = 740px
$homePagewidth = 960px

// 响应式变化点
$MONarrow = 959px
$MOMobile = 719px
$MOMobileNarrow = 419px